# Editor directories and files
!.vscode/extensions.json
.idea
.vscode/*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# JavaScript
.next
*.local
dist
dist-ssr
node_modules
package-lock.json

# Logs
*.log
logs
npm-debug.log*

# vercel
.vercel