* {
	scroll-behavior: smooth;
	transition: background-color 0.3s linear, color 0.1s linear;
}

body {
	font-family: var(--font-google-sans-flex);
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.Hero {
	font-weight: 700;
	user-select: none;
}

.type::after {
	animation: cursor 1.1s infinite step-start;
	content: "_";
}

@keyframes cursor {
	50% {
		opacity: 0;
	}
}
